body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-variant-numeric: tabular-nums;
}

.dark-nav {
  border-radius: 8px;
  margin-bottom: 4px;
  color: var(--mantine-color-blue-2);
}

.dark-nav:not([data-active]):hover {
  background-color: var(--mantine-color-blue-6) !important;
  color: white;
}

.dark-nav[data-active] {
  background-color: var(--mantine-color-blue-9) !important;
  color: white !important;
}

.back-link {
  border-bottom: 1px solid transparent !important;
  padding-bottom: 2px;
  transition: border-color 0.2s ease;
}

.back-link:hover {
  border-bottom-color: var(--mantine-color-blue-9) !important;
}
